<ion-header>
   
    <ion-toolbar  class="header-background-color">
      <ion-buttons  color="light" slot="start">
        <ion-back-button  color="light"></ion-back-button>
      </ion-buttons>
      <ion-title  color="light">Consulta de Objeto</ion-title>


    </ion-toolbar>
    
  </ion-header>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="lerCodigo()" color="light">
        <ion-icon color="dark" name="barcode"></ion-icon>
      </ion-fab-button>
    </ion-fab>    

    <ion-content>
      
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col>
                <br>
                <br>
                
                <ion-searchbar #buscaCodigo  [(ngModel)]="codigo" placeholder="Codigo do Objeto" showCancelButton="focus"></ion-searchbar>
              
            
              
            </ion-col>


          </ion-row>

       

        </ion-grid>


</ion-content>
