<ion-header>
 
</ion-header>
<ion-content>
 
      <ion-grid>
        <br>
        <br>
        <ion-row>
          <ion-col size="4">
            <div class="ion-text-start">
                <button (click)="recebimentoPage()" >
                    <img height="80" width="80" src="../../assets/truck.png">
                    Recebimento
                </button>
            </div>
          </ion-col >
          <ion-col size="4">
            <div class="ion-text-end">
                <button (click)="enderecamentoPage()">
                    <img height="80" width="80" src="../../assets/location.png">
                    Endereçamento
                </button>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-center">
                <button (click)="tranferenciaPage()" >
                    <img height="80" width="80" src="../../assets/storage.png">
                    Tranferencia
                </button>
            </div>
          </ion-col>
        </ion-row>

      
        <ion-row>
            <ion-col size="4">
              <div class="ion-text-start">
                  <button (click)="atendimentoPage()" >
                      <img height="80" width="80" src="../../assets/delivery-man.png">
                      Atendimento
                  </button>
              </div>
            </ion-col >
            <ion-col size="4">
              <div class="ion-text-end">
                  <button >
                      <img height="80" width="80" src="../../assets/cart.png">
                      Separação
                  </button>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="ion-text-center">
                  <button (click)="conferenciaPage()">
                      <img height="80" width="80" src="../../assets/inspection.png">
                      Conferencia
                  </button>
              </div>
            </ion-col>
  
          </ion-row>

    
          <ion-row>
              <ion-col size="4">
                <div class="ion-text-start">
                    <button  (click)="consulta()">
                        <img height="80" width="80" src="../../assets/loupe.png">
                        Colsultas
                    </button>
                </div>
              </ion-col >
              <ion-col size="4">
                <div class="ion-text-end">
                    <button >
                        <img height="80" width="80" src="../../assets/storage.png">
                        Inventário
                    </button>
                </div>
              </ion-col>
              <ion-col size="4">
                <div class="ion-text-center">
                    <button >
                        <img height="80" width="80" src="../../assets/price-tag.png">
                        Etiqueta
                    </button>
                </div>
              </ion-col>
    
            </ion-row>


            <ion-row>
                <ion-col size="4">
                  <div class="ion-text-start">
                      <button  (click)="configuracaoPage()">
                          <img height="80" width="80" src="../../assets/settings.png">
                          Configurações
                      </button>
                  </div>
                </ion-col >
                <ion-col size="4">
                  <div class="ion-text-end">
                      <button >
                          <img height="80" width="80" src="../../assets/up-arrows.png">
                          Picking
                      </button>
                  </div>
                </ion-col>
                <ion-col size="4">
                  <div class="ion-text-center">
                      <button (click)="sair()">
                          <img height="80" width="80" src="../../assets/exit.png">
                          Sair
                      </button>
                  </div>
                </ion-col>
      
              </ion-row>
      </ion-grid>


</ion-content>
