<ion-header>
 
</ion-header>
<ion-content>
 
   
     
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start">
                <button padding>
                    <img height="100" width="100" src="../../assets/box-flat.png">
                </button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
                <button padding>
                    <img height="100" width="100" src="../../assets/box-flat.png">
                </button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center">
                <button padding>
                    <img height="100" width="100" src="../../assets/box-flat.png">
                </button>
            </div>
          </ion-col>
        </ion-row>
      
      </ion-grid>


</ion-content>
