<ion-header>
 
</ion-header>
<ion-content>
 
   
     
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-start">
                <button padding >
                    <img height="80" width="100" src="../../assets/truck.png">
                    Recebimento
                </button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-end">
                <button padding>
                    <img height="80" width="100" src="../../assets/location.png">
                    Endereço
                </button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center">
                <button padding>
                    <img height="80" width="100" src="../../assets/storage.png">
                    Tranferencia
                </button>
            </div>
          </ion-col>




          <ion-col>
            <div class="ion-text-center">
                <button padding>
                    <img height="80" width="100" src="../../assets/delivery-man.png">
                    Atendimento
                </button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center">
                <button padding>
                    <img height="80" width="100" src="../../assets/cart.png">
                    Separação
                </button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center">
                <button padding >
                    <img height="80" width="100" src="../../assets/inspection.png">
                    Conferencia
                </button>
            </div>
          </ion-col>

          <ion-col>
            <div class="ion-text-center">
                <button padding>
                    <img height="80" width="100" src="../../assets/signature.png">
                    Pedidos
                </button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center">
                <button padding>
                    <img height="80" width="100" src="../../assets/pallet.png">
                    Concluidos
                </button>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-center">
                <button padding (click)="lerCodigo()">
                    <img height="80" width="100" src="../../assets/barcode.png
                    ">
                    Consulta
                </button>
            </div>
          </ion-col>

        </ion-row>


      
      </ion-grid>


</ion-content>
